.App {
  height: 100vh;
  width: 100vw;
  background-color: rgb(9, 9, 42);
}
h1 {
  color:wheat;
  text-align: center;
}
section {
 text-align: center;
  margin: 0 45%;
}
input {
  background-color: lightgrey;
}
label {
  padding: 2%;
  direction: flex;
  color:aliceblue
}